/*****  Base Styles -- Mobile First *****/
html {
	font-size: 16px;
}
body {
	font-size: 1em;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.9em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 1.3125em;
}

/**********  Header Styles   *************/

header {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	border-bottom: 3px solid #77a466;
}

header h1 {
	width: 100%;
	margin: 0;
	padding: 1.5em 0 .5em 0;
	border-bottom: 3px solid #77a466;
	text-align: center;
}
header h1 span {
	color: #77a466;
}

header nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1em;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	padding: 1em;
	list-style-type: none;
	text-align: center;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}


/************  Main Section ****************/

.top-section,
.bottom-section {
	width: 90%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: row wrap;
}

.main-image {
	height: auto;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625em;
}


/******************  Bottom Section  *******************/

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	border-top: 1px solid #eee;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: row wrap;
}

.section h3 {
	width: 100%;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.25em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*****************  Footer *****************/

footer {
	width: 90%;
	border-top: 3px solid #eee;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}


/***********************  MEDIA QUERIES ************************/


/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 768px) {
	.section-one,
	.section-two,
	.section-three {
		width: 33%;

	}

	.section-one h3,
	.section-one li {
		padding-right: 1.5rem;
	}

	.section-two h3, 
	.section-two p,
	.section-three h3,
	.section-three p {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.section-one h3 {
		padding-top: .625rem;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

	
	.section-two h3,
	.section-three h3 {
		padding-top: .625rem;
	}
	
	
}




/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width: 1200px) { 
	header {
	width: 90%;
	padding-top: 2em;
	justify-content: space-between;
	align-items: center;
}

	header h1 {
		width: 25%;
		border-bottom: none;
		padding: 0;
		text-align: left;
	}

	nav ul {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}


}
